body {
    margin: 0;
}

.addUser {
    color: white;
    width: 25%;
    background-color: #4b4b4b;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.4);
    position: absolute;
    top: 25%;
    left: 38%;
}

.addUserForm .inputGroup {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.addUserForm .inputGroup label {
    margin-top: 3%;

}

.addUserForm .inputGroup input {
    margin-top: 2%;
    padding: 2%;
    border-radius: 6px;
    border: none;
}

.savebtn {
    margin-top: 2%;
    background-color: #54b1d6;
    border: none;
    min-height: 30px;
    border-radius: 6px;
}

.bgImage {
    background-image: url("../../assets/images/background\ login.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;

}

.imageBox {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    backdrop-filter: blur(4px);
}

input:disabled {
    background-color: white;
    color: black;
}

.passwordMessage {
    color: #f5697c;
}