body {
  font-family: Arial, sans-serif;
}

.container {
  padding-top: 10%;
  min-width: 30rem;
  min-height: 20rem;
  padding: 20px;
  display: block;
  padding-top: 20%;
  max-height: 50vh;
}

.tabs {
  display: flex;
  justify-content: left;
  margin-top: 0;
}

.tab {
  cursor: pointer;
  padding: 10px;
  border: 1px solid #ccc;
}

.tab.active {
  background-color: #f0f0f0;
  border: solid 2px black;
  border-bottom: none;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.form-group textarea {
  height: 20%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 90%;
}

.form-group select,
.form-group input,
.form-group button {
  width: 90%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  background-color: #007bff;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
}

.forms {
  border: solid 2px black;
  border-radius: 20px;
  border-top-left-radius: 0%;
  padding: 5%;
  min-width: 70%;
  min-height: 70%;

}

button:hover {
  background-color: #0056b3;
}

.hidden {
  display: none;
}