.bgImage {
    background-image: url("./assets/images/background\ login.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;

}

.imageBox {
    position: absolute;
    width: 100vw;
    height: 100vh;
}